.Modal {
    position: fixed;
    z-index: 500;
    background-color: #444;
    width: 90%;
    border: 1px solid #eece1a;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 5%;
    top: 20%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}